/* Heading of direct page */
#h1_direct_heading {
    font-size: 1.7rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.2em 1em;
    border-radius: 3px;
    border-left: solid #e74856 5px;
    font-weight: 100;
}

#div_console_output {
    white-space: normal !important;
    margin-top: 0 !important;
    width: 100%;
    background-color: #252629;
    height: 400px;
    overflow-y:auto;
    border: solid #252629 1px;
}

#div_console_header {
    margin-bottom: 0 !important;
    width: 100%;
    border: solid #252629 1px;
}

.input_console_command:focus{
    outline: none;
}

.input_console_command{
    padding: 0 !important;
    width: 95% !important;
    border-radius: 0 !important;
}

[data-input-type="multiline_input"]:hover {
    cursor: default;
}

[data-input-type="multiline_input"]::selection {
    background-color: white;
    color: black;
}

[data-input-type="multiline_input"] {
    padding: 0 !important;
    outline: none;
    font-size: inherit !important;
    color: #bfbfbb !important;
}

[data-input-type="singleline_shell"] {
    outline: none;
}

#div_win_components_python_command {
    width: 100%;
    background-color: #252629;
    height: 400px;
    overflow-y:auto;
    padding: 6px 10px;
}

#div_win_components_python_command::selection {
    background-color: #ffffff !important;
    color: #000000 !important;
}
